<footer class="layout-flex-parent">
  <a name="contact"></a>
  <p class="layout-flex-child-3col"><a href="mailto:say-hi@marionhuebner.com">say-hi@marionhuebner.com</a>
  <a href="tel:630-605-2962">630.605.2962</a></p>
  <div class="icons layout-flex-child-4col layout-flex-parent">
    <a href="https://www.linkedin.com/in/marionhuebner" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
    <a href="https://github.com/rionner" target="_blank"><i class="fa fa-github-alt fa-2x"></i></a>
    <a href="https://twitter.com/rion_ner" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    <a href="https://angel.co/marion-huebner" target="_blank"><i class="fa fa-angellist fa-2x"></i></a>
  </div>
  <p class="layout-flex-child-3col">Available in Chicago, IL</br>and for remote work.</p>
  <h5 class="mahalo layout-flex-child-1col">mahalo</h5>
</footer>
