<header>
  <nav>
    <ul class="layout-nav nav">
      <a href="/"><h2>MH</h2></a>
      <a href="/resume"><li>resume</li></a>
      <a href="#contact"><li class="contact">contact</li></a>
      <a href="/portfolio"><li>portfolio</li></a>
    </ul>
  </nav>
</header>
