<header>
  <nav>
    <ul class="layout-nav">
      <a href="/" class="layout-flex-child-4col"><h2>MH</h2></a>
      <a href="/resume" class="layout-flex-child-4col"><li>resume</li></a>
      <a href="#contact" class="layout-flex-child-4col"><li class="contact">contact</li></a>
      <a href="/portfolio" class="layout-flex-child-4col"><li>portfolio</li></a>
    </ul>
  </nav>
</header>
