<div class="layout-align-right">
  <button class="expand-nav">
    <figure class="layout-flex-parent">
      <img src="img/arrows_down_double.svg">
    </figure>
    <figure class="layout-flex-parent is-hidden">
      <img src="img/arrows_up_double.svg">
    </figure>
  </button>
  <div class="layout-secondary-nav">
    <ul class="port-nav-list is-hidden">
      <a href="/portfolio/aplo"><li>aplo</li></a>
      <a href="/portfolio/og6"><li>og-6</li></a>
      <a href="/portfolio/marvel"><li>marvel</li></a>
      <a href="/portfolio/restaurant"><li>restaurant</li></a>
      <a href="/portfolio/bill"><li>murray</li></a>
      <a href="/portfolio/shake"><li>shake-it</li></a>
      <a href="/photography"><li>photo</li></a>
      <a href="/portfolio/this-site"><li>this</li></a>
    </ul>
  </div>
</div>

