<div class="layout-secondary-nav">
  <ul>
    <a href="/aplo"><li>aplo</li></a>
    <a href="/og6"><li>og-6</li></a>
    <a href="/marvel"><li>marvel</li></a>
    <a href="/restaurant"><li>restaurant</li></a>
    <a href="/bill"><li>murray</li></a>
    <a href="/shake"><li>shake-it</li></a>
    <a href="/photography"><li>photo</li></a>
    <a href="/this-site"><li>this</li></a>
  </ul>
</div>
