<main class="intro">
<!--   <article class="quote">
    <h1 class="socrates">To be is to do.</h1>
    <h6 class="socrates">Socrates</h6>
    <h1 class="sartre">To do is to be.</h1>
    <h6 class="sartre">Sartre</h6>
    <h1 class="sinatra">Do be do be do.</h1>
    <h6 class="sinatra">Sinatra</h6>
  </article> -->

  <article>
    <a name="portfolio"></a>
    <h3>portfolio</h3>
  </article>

  <article class="layout-flex-parent">
    <div class="layout-flex-child-3col aplo-quote">
      <h4>aplo</h4>
      <p class="text aplo-quote-info">Application Development for a new CRM for insurance agents.</br><a href="/aplo">Detail</a> | <a href="https://aploquote.com/" target="_blank">View</a></p>
    </div>
    <div class="layout-flex-child-3col original-six">
      <h4>original six</h4>
      <p class="text original-six-info">d3 renderings of data for the original six NHL teams.</br><a href="/og6">Detail</a></p>
    </div>
    <div class="layout-flex-child-3col marvel">
      <h4>marvel tap-it</h4>
      <p class="text marvel-info">An interactive, two player melee inspired by the Marvel API and character library.</br><a href="/marvel">Detail</a> | <a href="http://marveltapit.herokuapp.com/" target="_blank">View</a></p>
    </div>
    <div class="layout-flex-child-3col restaurant">
      <h4>restaurant</h4>
      <p class="text restaurant-info">A POS system for restaurant staff and management.</br><a href="/restaurant">Detail</a></p>
    </div>
    <div class="layout-flex-child-3col murray">
      <h4>murray inspo</h4>
      <p class="text murray-info">“Nothing prepared me for being this awesome. It's kind of a shock. It's kind of a shock to wake up every morning and be bathed in this purple light.”</br><a href="/bill">Detail</a></p>
    </div>
    <div class="layout-flex-child-3col shake-it">
      <h4>shake-it-speare</h4>
      <p class="text shake-it-info">Consuming the shake-it-speare API which uses a Markov Model of Shakespeare's entire body of work.</br><a href="/shake">Detail</a></p>
    </div>
    <div class="layout-flex-child-3col photography">
      <h4>photography</h4>
      <p class="text photography-info">Places and People. Stuff and things.</br><a href="/photography">View</a></p>
    </div>
    <div class="layout-flex-child-3col kismet">
      <h4>team kismet</h4>
      <p class="text kismet-info">A side project and creative outlet for friends.</br><a href="http://teamkismet.com/" target="_blank">View</a></p>
    </div>
    <div class="layout-flex-child-3col this">
      <h4>this site</h4>
      <p class="text this-info">Let's get meta.</br><a href="/this-site">Detail</a></p>
    </div>
  </article>
</main>







