<main>
  <article>
    <h3>To be is to do.</h3>
    <h6>Socrates</h6>
    <h2>To do is to be.</h2>
    <h6>Sartre</h6>
    <h1>Do be do be do.</h1>
    <h6>Sinatra</h6>
  </article>

  <section>
      <a href="/portfolio"><h4>Enter</h4></a>
  </section>
</main>







