<main class="intro">
  <article class="quote">
    <h3 class="socrates">To be is to do.</h3>
    <h6 class="socrates">Socrates</h6>
    <h2 class="sartre">To do is to be.</h2>
    <h6 class="sartre">Sartre</h6>
    <h1 class="sinatra">Do be do be do.</h1>
    <h6 class="sinatra">Sinatra</h6>
  </article>
</main>







