<main>
  <section>
    <a href="/portfolio"><h2>Portfolio</h2></a>
    <a href="/resume"><h2>Resume</h2></a>
  </section>
    <section class="focal-image"></section>
</main>

<script type="text/javascript">
  $(document).ready(function(){
    function shuffleArray(array) {
      for (var i = array.length - 1; i > 0; i--) {
          var j = Math.floor(Math.random() * (i + 1));
          var temp = array[i];
          array[i] = array[j];
          array[j] = temp;
      }
      return array;
    }

    var largePhotos = <%= @large_photos.to_json %>

    shuffleArray(largePhotos);
    console.log(largePhotos);

  });
</script>

