  <main class="intro">
    <article class="quote">
      <h1>To be is to do.</h1>
      <p>Socrates</p>
    </article>

  <article>
    <a name="portfolio"></a>
  </article>

  <article class="portfolio">
    <h1>portfolio</h1>

    <div class="portie-item aplo-quote">
      <h2>aplo</h2>
      <p class="text aplo-quote-info">Application Development for a new CRM for insurance agents. <a href="/aplo">Detail</a> | <a href="https://aploquote.com/" target="_blank">View</a></p>
    </div>

    <div class="portie-item original-six">
      <h2>original six</h2>
      <p class="text original-six-info">d3 renderings of data for the original six NHL teams.<a href="/og6">Detail</a></p>
    </div>

    <div class="portie-item marvel">
      <h2>marvel tap-it</h2>
      <p class="text marvel-info">An interactive, two player melee inspired by the Marvel API and character library. <a href="/marvel">Detail</a> | <a href="http://marveltapit.herokuapp.com/" target="_blank">View</a></p>
    </div>

    <div class="portie-item restaurant">
      <h2>restaurant</h2>
      <p class="text restaurant-info">A POS system for restaurant staff and management. <a href="/restaurant">Detail</a></p>
    </div>

    <div class="portie-item murray">
      <h2>murray inspo</h2>
      <p class="text murray-info">“Nothing prepared me for being this awesome. It's kind of a shock. It's kind of a shock to wake up every morning and be bathed in this purple light.” <a href="/bill">Detail</a></p>
    </div>

    <div class="portie-item shake-it">
      <h2>shake-it-speare</h2>
      <p class="text shake-it-info">Consuming the shake-it-speare API which uses a Markov Model of Shakespeare's entire body of work. <a href="/shake">Detail</a></p>
    </div>

    <div class="portie-item photography">
      <h2>photography</h2>
      <p class="text photography-info">Places and People. Stuff and things. <a href="/photography">View</a></p>
    </div>

    <div class="portie-item kismet">
      <h2>team kismet</h2>
      <p class="text kismet-info">A side project and creative outlet for friends. <a href="http://teamkismet.com/" target="_blank">View</a></p>
    </div>

    <div class="portie-item this">
      <h2>this site</h2>
      <p class="text this-info">Let's get meta. <a href="/this-site">Detail</a></p>
    </div>

  </article>

</main>


<!-- <p>RESTaurant is a Ruby/Sinatra Application that allows restaurant staff and management to place orders for specific tables. Managment can also add menu items after logging in to the Admin portal.</p> -->







