<!DOCTYPE html>
<html>
  <head>

    <title>Marion Huebner Web Development Portfolio</title>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/main.css" media="screen" charset="utf-8">

    <!-- Libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert"></script>
    <script src="/javascripts/jquery.js"></script>

    <!-- Application -->
    <script src="/javascripts/scripts.js"></script>

    <!-- Set Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name="description" content="A Web Development portfolio including mixed technology projects and resume.">
    <meta name="keywords" content="web development,freelance developer,remote developer,HTML,CSS,JavaScript,Ruby,Node,Express,MongoDB,SQL,PostgreSQL,Marion Huebner">
    <meta name="author" content="Marion Huebner">
  </head>
  <body class="layout-page-wrap">
    <div class="layout-content-wrap">
      <%= yield %>
    </div>
  </body>
</html>
