<!DOCTYPE html>
<html>
  <head>

    <title>Marion Huebner Web Development Portfolio</title>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/main.css" media="screen" charset="utf-8">

    <!-- Libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert"></script>
    <script src="/javascripts/jquery.js"></script>

    <!-- Application -->
    <script src="/javascripts/scripts.js"></script>

    <!-- Set Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name="description" content="A Web Development portfolio including mixed technology projects and resume.">
    <meta name="keywords" content="web development,freelance developer,remote developer,HTML,CSS,JavaScript,Ruby,Node,Express,MongoDB,SQL,PostgreSQL,Marion Huebner">
    <meta name="author" content="Marion Huebner">
  </head>
  <body class="layout-page-wrap">
    <div class="layout-content-wrap">
    <header>
      <a href="/"><h2>MH</h2></a>
      <nav>
        <ul class="layout-flex-parent">
          <a href="/#portfolio" class="layout-flex-child-3col"><li>portfolio</li></a>
          <a href="/resume" class="layout-flex-child-3col"><li>resume</li></a>
          <a href="#contact" class="layout-flex-child-3col"><li class="contact">contact</li></a>
        </ul>
      </nav>
    </header>
      <%= yield %>
    </div>

    <a name="contact"></a>
    <footer class="layout-flex-parent">


      <p class="layout-flex-child-3col"><a href="mailto:say-hi@marionhuebner.com">say-hi@marionhuebner.com</a>
      <a href="tel:630-605-2962">630.605.2962</a></p>

      <div class="icons layout-flex-child-4col layout-flex-parent">
        <a href="https://www.linkedin.com/in/marionhuebner" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
        <a href="https://github.com/rionner" target="_blank"><i class="fa fa-github-alt fa-2x"></i></a>
        <a href="https://twitter.com/rion_ner" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://angel.co/marion-huebner" target="_blank"><i class="fa fa-angellist fa-2x"></i></a>
      </div>

      <p class="layout-flex-child-3col">Available in Chicago, IL</br>and for remote work.</p>

      <h5 class="mahalo layout-flex-child-4col">mahalo</h5>
    </footer>

  </body>
</html>
