<%= erb(:_nav, :layout => true) %>
<%= erb(:_port_nav, :layout => true) %>

<main>
    <h1>Coming Soon</h1>
    <div id="map"></div>
</main>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="/javascripts/map.js"></script>
