<%= erb(:_nav, :layout => true) %>
<%= erb(:_port_nav, :layout => true) %>

<main>
  <h3>bill murray inspiration</h3>
  <h6>2015</h6>

  <section>
    <img src="http://i.ytimg.com/vi/YVHqTF203_0/maxresdefault.jpg">
  </section>

  <section>
    <h4>The concept</h4>
    <p>
      A bit of fun, while at WDI, with the project prompt: build an 'About Me' site using only HTML and CSS. What more could you need to know about me than - I'd rather build a series of inspirational posters with Bill Murray quotes?
    </p>
    <h4>Tech</h4>
    <ul class="bullet-list">
      <li>HTML5</li>
      <li>CSS</li>
      <li>Photos from <a href="https://unsplash.com/">Unsplash</a></br></li>
      <li>The undying wit and absurdity of Bill Murray and the characters he plays.</li>
    </ul>
  </section>


  <section>
    <article class="img-fill" style="background-image: url('https://images.unsplash.com/photo-1428999418909-363f8e091c50?q=80&fm=jpg&s=1a14392ed2966f8c1cae63762fe5ea8a')">
      <span class="img-fill-title">
        <h3>"You're on a gravy train with biscuit wheels."</h3>
        <h4>[Kingpin]</h4>
      </span>
    </article>

    <article class="img-fill" style="background-image: url('https://images.unsplash.com/photo-1440964829947-ca3277bd37f8?q=80&fm=jpg&s=820fcc9dd26c0ede80f3b1663c543965')">
      <span class="img-fill-title">
        <h3>"I make it a rule never to get involved with possessed people... Actually, it's more of a guideline than a rule."</h3>
        <h4>[Ghostbusters]</h4>
      </span>
    </article>

    <article class="img-fill" style="background-image: url('https://images.unsplash.com/photo-1440847899694-90043f91c7f9?q=80&fm=jpg&s=3ec8ed6d2f740ebdd359ac8c79483dbf')">
      <span class="img-fill-title">
        <h3>"Sorry I get a little bit insensitive, but I'm a hitman."</h3>
        <h4>[The Man Who Knew Too Little]</h4>
      </span>
    </article>

    <article class="img-fill" style="background-image: url('https://images.unsplash.com/photo-1439694458393-78ecf14da7f9?q=80&fm=jpg&s=643e44f5177366de6cc914c8bcfbe064')">
      <span class="img-fill-title">
        <h3>"Everyone loves Cinnabons."</h3>
        <h4>[Esquire]</h4>
      </span>
    </article>

    <article class="img-fill" style="background-image: url('https://images.unsplash.com/photo-1440688807730-73e4e2169fb8?q=80&fm=jpg&s=79978a74e55792a7a5182ba0c0aa4e25')">
      <span class="img-fill-title">
        <h3>"Chicks dig me, because I rarely wear underwear and when I do it's usually something unusual."</h3>
        <h4>[Stripes]</h4>
      </span>
    </article>

    <article class="img-fill" style="background-image: url('https://images.unsplash.com/photo-1415931633537-351070d20b81?q=80&fm=jpg&s=fb26af809d5b68ba0d269eaf41f7816c')">
      <span class="img-fill-title">
        <h3>"Son of a bitch, I'm sick of these dolphins."</h3>
        <h4>[The Life Aquatic With Steve Zissou]</h4>
      </span>
    </article>
  </section>

</main>
