<%= erb(:_nav, :layout => true) %>
<%= erb(:_port_nav, :layout => true) %>

<main>
  <h3>photography</h3>

  <section class="focal-image"></section>
  <section class="gallery"></section>

</main>

<script type="text/javascript">

	$(document).ready(function() {
		var photos = <%= @photos.to_json %>

	  for (i in photos) {
	  	$('.gallery').append('<article data-large="' + photos[i][0]['large'] + '" class="photo" style="background-image: url(' + photos[i][0]['small'] + ')"></article>');
	  }

  	$('.photo').mouseover(function() {
  		var large = $(this).data('large');
  		$('.photo-box').css('background-image', 'url(' + large + ')');
  	})

	})

</script>

