<%= erb(:_port_nav, :layout => true) %>

<main class="main">
  <h1>photography</h1>

	<script type="text/javascript">
	  // var photoIds = <%= @photo_ids.to_json %>

	  // console.log(photoIds);



	</script>

</main>
