<%= erb(:_nav, :layout => true) %>
<%= erb(:_port_nav, :layout => true) %>

<main>
  <h3>photography</h3>
  <section class="gallery layout-flex-parent"></section>
</main>

<script>
  $(document).ready(function() {
    var photos = <%= @photos.to_json %>
      for (i in photos) {
        $('.gallery').append('<div data-large="' + photos[i][0]['large'] + '" class="gallery-item" style="background-image: url(' + photos[i][0]['large'] + ')"></div>');
      }
  });
</script>


