<%= erb(:_port_nav, :layout => true) %>

<main class="main">
  <h1>photography</h1>

  <section class="gallery"></section>

</main>


<script type="text/javascript">

	$(document).ready(function() {
		var photos = <%= @photos.to_json %>

	  for (i in photos) {
	  	$('.gallery').append('<article class="photo" style="background-image: url(' + photos[i] + ')"></article>');
	  }
	})

</script>
