<%= erb(:_nav, :layout => true) %>
<%= erb(:_port_nav, :layout => true) %>

<main>
  <a name="portfolio"></a>
  <h3>portfolio</h3>
  <section class="layout-flex-parent">
    <a href="/portfolio/aplo" class="layout-flex-child-3col portie-item">
      <h4>aplo</h4>
      <p>Application Development for a new CRM for insurance agents.</p>
    </a>
    <a href="/portfolio/og6" class="layout-flex-child-3col portie-item">
      <h4>original six</h4>
      <p>d3 renderings of data for the original six NHL teams.</p>
    </a>
    <a href="/portfolio/marvel" class="layout-flex-child-3col portie-item">
      <h4>marvel tap-it</h4>
      <p>An interactive, two player melee inspired by the Marvel API and character library.</p>
    </a>
    <a href="/portfolio/restaurant" class="layout-flex-child-3col portie-item">
      <h4>restaurant</h4>
      <p>A POS system for restaurant staff and management.</p>
    </a>
    <a href="/portfolio/bill" class="layout-flex-child-3col portie-item">
      <h4>murray inspo</h4>
      <p>“Nothing prepared me for being this awesome. It's kind of a shock. It's kind of a shock to wake up every morning and be bathed in this purple light.”</p>
    </a>
    <a href="/portfolio/shake" class="layout-flex-child-3col portie-item">
      <h4>shake-it-speare</h4>
      <p>Consuming the shake-it-speare API which uses a Markov Model of Shakespeare's entire body of work.</p>
    </a>
    <a href="/photography" class="layout-flex-child-3col portie-item">
      <h4>photography</h4>
      <p>Places and People. Stuff and things.</p>
    </a>
    <a href="https://society6.com/teamkismet" target="_blank" rel="noopener noreferrer" class="layout-flex-child-3col portie-item">
      <h4>team kismet</h4>
      <p>A side project and creative outlet for friends.</p>
    </a>
    <a href="/portfolio/this-site" class="layout-flex-child-3col portie-item">
      <h4>this site</h4>
      <p>Let's get meta.</p>
    </a>
  </section>
</main>

