<%= erb(:_nav, :layout => true) %>
<%= erb(:_port_nav, :layout => true) %>

<main>
  <h3>resumé</h3>
  <section>
    <h3 class="right-align">Marion Huebner</h3>
    <div class="right-align">
      <h4>Full Stack Web Developer &amp Kinesthetic Learner</h4>
      <p>
        <a href="mailto:say-hi@marionhuebner.com">EMAIL</a> | <a href="tel:630-605-2962">630.605.2962</a> | <a href="https://github.com/rionner" target="_blank">GITHUB</a> | <a href="https://www.linkedin.com/in/marionhuebner" target="_blank" rel="noopener noreferrer">LINKEDIN</i></a>
      </p>
    </div>
    <br>
    <hr>
    <p>
      I develop tech-based product solutions from concept, through launch, and beyond.
    </p>
    <p>
      I believe in building quality products, challenging myself, learning from experience, and enjoying this journey as much as possible.
    </p>
    <hr>
  </section>
  <section>
    <h3>Technologies</h3></br>
    <div class="res-item">
      <h4>Javascript</h4>
      <p>
        Node | Express | Angular | Backbone | Underscore | Lo-Dash | Bookshelf | Handlebars | jQuery
      </p>
      <h4>HTML &amp CSS</h4>
      <p>
        Skeleton | Bootstrap | Foundation | Sass | Less
      </p>
      <h4>Ruby</h4>
      <p>
        Rails | Sinatra
      </p>
      <h4>Database</h4>
      <p>
        mySQL | PostgreSQL | MongoDB
      </p>
      <h4>Design</h4>
      <p>
        Adobe Creative Suite/Cloud | Balsamiq | Protoshare | Sketch | AutoCAD
      </p>
    </div>
  </section>
  <section>
    <h3>Experience</h3></br>
    <div class="res-item">
      <h4>Front End Engineer <a href="https://packback.co/" target="_blank" rel="noopener noreferrer"> @ PACKBACK</a></h4>
      <h6>Jan 2016 - Present</h6>
      <p>
        Building tools to foster curiosity and increase the value of higher education.
      </p>
      <ul class="bullet-list">
        <li>Ensuring responsive and consistent style across browsers, devices, and products</li>
        <li>Implementing accessibility features and design strategies</li>
        <li>Developing front end product features to spec</li>
        <li>Maintaining and updating brand style guides</li>
        <li>Establishing quality assurance and cross-browser compatibility testing processes</li>
      </ul>
    </div>
    <div class="res-item">
      <h4>Application Developer <a href="#"> @ APLO</a></h4>
      <h6>Jul 2015 - Oct 2015</h6>
      <p>
        Full stack web developer, working to bring technology into the insurance industry, first with a new CRM for insurance agents and agencies.
      </p>
      <ul class="bullet-list">
        <li>Created UI elements and Express Routes to handle CSV file imports for user data</li>
        <li>Normalized imported data for storage and search-ability</li>
        <li>Established UI elements and Express routes to relate agency owners, agencies, and agency members to one another</li>
      </ul>
    </div>
    <div class="res-item">
      <h4>Developer In Residence <a href="https://generalassemb.ly/education/web-development-immersive/chicago" target="_blank" rel="noopener noreferrer"> @ GENERAL ASSEMBLY</a></h4>
      <h6>Jun 2015 - Sep 2015</h6>
      <p>
        Instructor Assistant for the Web Development Immersive course.
      </p>
      <ul class="bullet-list">
        <li>Assisted instructors for the summer session of GA’s Web Development Immersive</li>
        <li>Curriculum included Ruby on Rails, the MEAN stack, Javascript, HTML, CSS, various frameworks, and git</li>
        <li>Debugged student development errors</li>
        <li>Discussed and maintained scope of student projects</li>
        <li>Provided moral support as needed</li>
      </ul>
    </div>
    <div class="res-item">
      <h4>Product Representative <a href="http://www.coderebel.com/" target="_blank" rel="noopener noreferrer"> @ CODE REBEL</a></h4>
      <h6>Nov 2013 — Apr 2015</h6>
      <p>
        Liaison for Customers, Resellers, and Chief Technical Officer for iRAPP Mac Terminal Server software with flexible licensing configurations to meet any need - for individuals and teams alike.
      </p>
      <ul class="bullet-list">
        <li>Client relations, including phone, email, and support ticket correspondence</li>
        <li>Supported software installation and resolved licensing issues with clients</li>
        <li>Communicated available features and development timelines to prospective, new, and existing clients</li>
        <li>Led software demonstrations and discussions for organizations considering our product</li>
        <li>Managed website redesign and development</li>
      </ul>
    </div>
    <div class="res-item">
      <h4>Freelance Blogger <a href="http://vbench.com/" target="_blank" rel="noopener noreferrer"> @ vBENCH</a></h4>
      <h6>Jun 2014 — Mar 2015</h6>
      <p>
        Produced ten blog entries which discussed freelance web projects from client and developer perspectives.
      </p>
    </div>
    <div class="res-item">
      <h4>Project Manager <a href="http://www.konturlabs.com/" target="_blank" rel="noopener noreferrer"> @ BUMP NETWORKS / KONTUR LABS </a></h4>
      <h6>Sep 2013 — Jan 2015</h6>
      <p>
        Managed client projects with remote development teams with hybrid waterfall &amp agile processes
      </p>
      <ul class="bullet-list">
        <li>Wrote feature specifications for our remote development team</li>
        <li>Built and annotated wireframes for client and developer documentation</li>
        <li>Performed light QA testing of UX/UI elements in staging and production environments</li>
        <li>Ensured completion of contracted client deliverables</li>
        <li>Maintained promised project timelines and client expectations</li>
      </ul>
    </div>
    <div class="res-item">
      <h4>Office Administrator <a href="#"> @ COHEN LANDSCAPING &amp DESIGN</a></h4>
      <h6>Nov 2012 — Sep 2013</h6>
      <h4>Office Administrator <a href="#"> @ IN &amp OUT BUILDERS</a></h4>
      <h6>Dec 2012 — Sep 2013</h6>
      <p>
        Managed operations during private contract projects and the construction of Hokulani Golf Villas, a new 101 home subdivision in Kihei, Maui
      </p>
      <ul class="bullet-list">
        <li>Balanced multiple business and personal accounts</li>
        <li>Processed all Accounts Payable and Receivable</li>
        <li>Tracked project labor hours, material costs, and project profitability</li>
        <li>Served as the client, vendor and employee point of contact</li>
      </ul>
    </div>
  </section>
  <section>
    <h3>Education</h3></br>
    <div class="res-item">
      <h4>Web Development Immersive <a href="https://generalassemb.ly/education/web-development-immersive" target="_blank" rel="noopener noreferrer"> @ GENERAL ASSEMBLY</a></h4>
      <h6>Mar 2015 — Jun 2015</h6>
      <p>
        Learned web development technologies through group and individual projects.
      </p>
      <ul class="bullet-list">
        <li>Studied coding languages including HTML, CSS, Javascript, Ruby, and SQL</li>
        <li>Practiced application structure conventions and design patterns, such as MVC</li>
        <li>Managed shared and personal git repositories </li>
      </ul>
    </div>
    <div class="res-item">
      <h4>Bachelor of Science in Architecture <a href="http://daap.uc.edu/academics/said.html" target="_blank" rel="noopener noreferrer"> @ UNIVERSITY OF CINCINNATI</a></h4>
      <h6>Sep 2007 — Jun 2011</h6>
      <p>
        Design theory, construction, structures, sustainability, and history in the field of Architecture.
      </p>
      <ul class="bullet-list">
        <li>Curriculum included lectures, design studio, and various general education requirements</li>
      </ul>
    </div>
    <div class="res-item">
      <h4>Study Abroad <a href="http://disabroad.org/" target="_blank" rel="noopener noreferrer"> @ DANISH INSTITUTE FOR STUDY ABROAD</a></h4>
      <h6>Jun 2010 — Sep 2010</h6>
      <p>
        Scandinavian design theory, history, and typology during a Summer abroad.
      </p>
      <ul class="bullet-list">
        <li>Curriculum included lectures, design studio, travel through Scandinavian cities, and specific site tours</li>
      </ul>
    </div>
  </section>
  <section>
    <h3>Kind Words</h3>
    <div class="layout-flex-parent">
      <div class="layout-flex-child-3col">
        <h5>Alexis Wogan</h5>
        <h6>Vice President @ Bump Networks - 2014</h6>
        <blockquote>
          Marion Huebner is a secret weapon. She is bright, logical, creative and nimble. The true source of her power is in her versatility. She applies her analytical mind when creating business proposals, engineering specifications, product prototypes, and business administration processes. And her creative side comes out when she designs websites, print pieces, and interior spaces. Regardless of the project type, you can count on Marion delivering solid professional results.
        </blockquote>
      </div>
      <div class="layout-flex-child-3col">
        <h5>Ben Jackson</h5>
        <h6>CEO @ Aplo - 2015</h6>
        <blockquote>
          I met Marion Huebner in mid­ 2015 at a hiring event for a well­-reputed and extremely aggressive developer training program called General Assembly. Marion immediately stood out from the pack of dozens with her winning mix of passion, sociability, and raw talent. My partner and I hired her on the spot as a full­stack developer for our company, Aplo LLC. During her three­-month contract employment with Aplo she contributed significantly to the development of our innovative insurance CRM, quote engine, database, website, and enrollment technology. Marion is an excellent team­ player, a dilligent worker, an avid learner, and an overall excellent employee. I would highly recommend her for any junior­ level development positions your company has to offer. As a matter of fact, I would recommend her without hesitation for just about any position of any type ­- she is that good!
        </blockquote>
      </div>
      <div class="layout-flex-child-3col">
        <h5>Dakoda Wogan</h5>
        <h6>Application Developer @ Aplo - 2015</h6>
        <blockquote>
          Marion is an excellent teacher. She paves easy to follow paths - allowing people to feel like she is always there for guidance if they get lost.
        </blockquote>
      </div>
    </div>
  </section>
</main>


