<%= erb(:_nav, :layout => true) %>

<main>
  <h3>resumé</h3>

  <section>
    <h1>Marion Huebner</h1>
    <h4>Full Stack Web Developer &amp Kinesthetic Learner</h4>
    <p> <a href="mailto:say-hi@marionhuebner.com">EMAIL</a> | <a href="tel:630-605-2962">630.605.2962</a> | <a href="https://github.com/rionner" target="_blank">GITHUB</a> | <a href="https://twitter.com/rion_ner" target="_blank">TWITTER</a> | <a href="https://www.linkedin.com/in/marionhuebner" target="_blank">LINKEDIN</i></a></p>
  </section>

  <section>
    <h4>Technologies</h4>
    <p>
      <span>Javascript</span></br>
      Node | Express | jQuery | Backbone | Underscore | Lo-Dash | Bookshelf | Handlebars</br>
      </br>
      <span>HTML &amp CSS</span></br>
      Skeleton | Bootstrap | Sass | Less </br>
      </br>
      <span>Ruby</span></br>
      Rails | Sinatra</br>
      </br>
      <span>Database</span></br>
      SQL | PostgreSQL | MongoDB</br>
      </br>
      <span>Design</span></br>
      Adobe Creative Suite/Cloud | Balsamiq | Protoshare | Sketch | AutoCAD
    </p>
  </section>

  <section>
    <h4>Experience</h4>
    <p>
      <span>Application Developer @ <a href="https://aploquote.com/" target="_blank">Aplo</a></span>
      <span>Jul 2015 - Present</span></br>
      Bringing technology into the Insurance industry, first with a new CRM for Insurance Agents and Agencies.
    </p>
    <ul>
      <li>Created UI elements and Express Routes to handle CSV file imports for user data</li>
      <li>Normalized imported data for storage and search-ability</li>
      <li>Established UI elements and Express routes to relate agency owners, agencies, and agency members to one another</li>
    </ul>
    <p>
      <span>Developer In Residence @ <a href="https://generalassemb.ly/education/web-development-immersive/chicago" target="_blank">General Assembly</a></span>
      <span>Jun 2015 - Sep 2015</span></br>
      Instructor Assistant for the Web Development Immersive course.</br>
    </p>
    <ul>
      <li>Assisted instructors for the summer session of GA’s Web Development Immersive</li>
      <li>Curriculum included Ruby on Rails, the MEAN stack, Javascript, HTML, CSS, various frameworks, and git</li>
      <li>Debugged student development errors</li>
      <li>Discussed and maintained scope of student projects</li>
      <li>Provided moral support as needed</li>
    </ul>
    <p>
      <span>Product Representative @ <a href="http://www.coderebel.com/" target="_blank">Code Rebel</a></span>
      <span>Nov 2013 — Apr 2015</span></br>
      Liaison for Customers, Resellers, and Chief Technical Officer for iRAPP Mac Terminal Server software with flexible licensing configurations to meet any need - for individuals and teams alike.</br>
    </p>
    <ul>
      <li>Client relations, including phone, email, and support ticket correspondence</li>
      <li>Supported software installation and resolved licensing issues with clients</li>
      <li>Communicated available features and development timelines to prospective, new, and existing clients</li>
      <li>Led software demonstrations and discussions for organizations considering our product</li>
      <li>Managed website redesign and development</li>
    </ul>
    <p>
      <span>Freelance Blogger @ <a href="http://vbench.com/" target="_blank">vBench</a></span>
      <span>Jun 2014 — Mar 2015</span></br>
      Produced ten blog entries which discussed freelance web projects from client and developer perspectives. </br>
    </p>
    <p>
      <span>Project Manager @ <a href="http://www.konturlabs.com/" target="_blank">Bump Networks</a> / Kontur Labs</span>
      <span>Sep 2013 — Jan 2015</span></br>
      Managed client projects with remote development teams with hybrid waterfall &amp agile processes</br>
    </p>
    <ul>
      <li>Wrote feature specifications for our remote development team</li>
      <li>Built and annotated wireframes for client and developer documentation</li>
      <li>Performed light QA testing of UX/UI elements in staging and production environments</li>
      <li>Ensured completion of contracted client deliverables</li>
      <li>Maintained promised project timelines and client expectations</li>
    </ul>
    <p>
      <span>Office Administrator @ Cohen Landscaping &amp Design</span>
      <span>Nov 2012 — Sep 2013</span></br>
      <span>Office Administrator @ In &amp Out Builders</span>
      <span>Dec 2012 — Sep 2013</span></br>
      Managed operations during private contract projects and the construction of Hokulani Golf Villas, a new 101 home subdivision in Kihei, Maui</br>
    </p>
    <ul>
      <li>Balanced multiple business and personal accounts</li>
      <li>Processed all Accounts Payable and Receivable</li>
      <li>Tracked project labor hours, material costs, and project profitability</li>
      <li>Served as the client, vendor and employee point of contact</li>
    </ul>
  </section>

  <section>
    <h4>Education</h4>
    <p>
      <span>Web Development Immersive @ General Assembly</span>
      <span>Mar 2015 — Jun 2015</span></br>
      Learned web development technologies through group and individual projects.</br>
    </p>
    <ul>
      <li>Studied coding languages including HTML, CSS, Javascript, Ruby, and SQL</li>
      <li>Practiced application structure conventions and design patterns, such as MVC</li>
      <li>Managed shared and personal git repositories </li>
    </ul>
    <p>
      <span>Bachelor of Science in Architecture @ <a href="http://daap.uc.edu/academics/said.html" target="_blank">University of Cincinnati</a></span>
      <span>Sep 2007 — Jun 2011</span></br>
      Design theory, construction, structures, sustainability, and history in the field of Architecture.</br>
    </p>
    <ul>
      <li>Curriculum included lectures, design studio, and various general education requirements</li>
    </ul>
    <p>
      <span>Study Abroad @ <a href="http://disabroad.org/" target="_blank">Danish Institute for Study Abroad</a></span>
      <span>Jun 2010 — Sep 2010</span></br>
      Scandinavian design theory, history, and typology during a Summer abroad.</br>
    </p>
    <ul>
      <li>Curriculum included lectures, design studio, travel through Scandinavian cities, and specific site tours</li>
    </ul>
  </section>

  <section>
    <h4>Kind Words</h4>
    <p>
      <span>Alexis Wogan - Vice President @ Bump Networks</span>
      <span>2014</span></br>
    </p>
    <p>
      'Marion Huebner is a secret weapon. She is bright, logical, creative and nimble. The true source of her power is in her versatility. She applies her analytical mind when creating business proposals, engineering specifications, product prototypes, and business administration processes. And her creative side comes out when she designs websites, print pieces, and interior spaces. Regardless of the project type, you can count on Marion delivering solid professional results.'
    </p>
    <p>
      <span>Ben Jackson - CEO @ Aplo</span>
      <span>2015</span></br>
    </p>
    <p>
      'I met Marion Huebner in mid­ 2015 at a hiring event for a well­-reputed and extremely aggressive developer training program called General Assembly. Marion immediately stood out from the pack of dozens with her winning mix of passion, sociability, and raw talent. My partner and I hired her on the spot as a full­stack developer for our company, Aplo LLC. During her three­-month contract employment with Aplo she contributed significantly to the development of our innovative insurance CRM, quote engine, database, website, and enrollment technology. Marion is an excellent team­ player, a dilligent worker, an avid learner, and an overall excellent employee. I would highly recommend her for any junior­ level development positions your company has to offer. As a matter of fact, I would recommend her without hesitation for just about any position of any type ­- she is that good!'
    </p>
    <p>
      <span>Dakoda Wogan - Application Developer @ Aplo</span>
      <span>2015</span></br>
    </p>
    <p>
      'Marion is an excellent teacher. She paves easy to follow paths - allowing people to feel like she is always there for guidance if they get lost.'
    </p>
  </section>

</main>

<%= erb(:_footer, :layout => true) %>

