<section class="resume">
  <h1>resumé</h1>
  <article class="contact-info">
    <h1>Marion Huebner</h1>
    <h4>Full Stack Web Developer &amp Kinesthetic Learner</h4>
    <p> <a href="mailto:say-hi@marionhuebner.com">EMAIL</a> | <a href="tel:630-605-2962">630.605.2962</a> | <a href="https://github.com/rionner" target="_blank">GITHUB</a> | <a href="https://twitter.com/rion_ner" target="_blank">TWITTER</a> | <a href="https://www.linkedin.com/in/marionhuebner" target="_blank">LINKEDIN</i></a></p>
  </article>

  <article class="tech">
    <h4>Technologies</h4>
    <p>
      <span class="emph">Javascript</span></br>
      Node | Express | jQuery | Backbone | Lo-Dash | Bookshelf</br>
      </br>
      <span class="emph">HTML &amp CSS</span></br>
      Skeleton | Bootstrap | Sass | Less | Handlebars</br>
      </br>
      <span class="emph">Ruby</span></br>
      Rails | Sinatra</br>
      </br>
      <span class="emph">Database</span></br>
      SQL | PostgreSQL | MongoDB</br>
      </br>
      <span class="emph">Design</span></br>
      Adobe Creative Suite | Sketch | Balsamiq | Protoshare | AutoCAD
    </p>
  </article>

  <article class="experience">
    <h4>Experience</h4>
    <p>
      <span class="emph">Application Developer @ Aplo</span></br>
      Full stack developer at the startup Aplo, building an insurance industry specific CRM.</br>
      July 2015 - Present</br>
      </br>

      <span class="emph">Developer In Residence @ General Assembly</span></br>
      Instructor Assistant for the Web Development Immersive course.</br>
      June 2015 - September 2015</br>
      </br>

      <span class="emph">Web Development Immersive @ General Assembly</span></br>
      Learning to learn web development technologies through group and individual projects.</br>
      March 2015 — June 2015</br>
      </br>

      <span class="emph">Product Representative @ Code Rebel LLC</span></br>
      Liaison for Customers, Resellers, and Chief Technical Officer. Managed web redesign and development.</br>
      November 2013 — April 2015</br>
      </br>

      <span class="emph">Freelance Blogger @ vBench.com</span></br>
      Produced 10 entries discussing freelance web projects, targeted to web developers and web clients alike.</br>
      June 2014 — March 2015</br>
      </br>

      <span class="emph">Project Manager @ Bump Networks LLC</span></br>
      Managed client projects with remote development teams with hybrid waterfall &amp agile processes</br>
      September 2013 — January 2015</br>
      </br>

      <span class="emph">Office Administrator @ Cohen Landscaping and Design LLC &amp In and Out Builders Inc.</span></br>
      November 2012 — September 2013</br>
      </br>
    </p>
  </article>

  <article class="education">
    <h4>Education</h4>
    <p>
      <span class="emph">Bachelor of Science in Architecture @ University of Cincinnati</span></br>
      September 2007 — June 2011</br>
      </br>
    </p>
  </article>

  <article class="recommendations">
    <h4>Kind Words</h4>
    <p>
      <span class="emph">Alexis Wogan - Vice President @ Bump Networks 2014</span></br>
      'Marion Huebner is a secret weapon. She is bright, logical, creative and nimble. The true source of her power is in her versatility. She applies her analytical mind when creating business proposals, engineering specifications, product prototypes, and business administration processes. And her creative side comes out when she designs websites, print pieces, and interior spaces. Regardless of the project type, you can count on Marion delivering solid professional results.'
    </p>

    <p>
      <span class="emph">Ben Jackson - CEO @ Aplo 2015</span></br>
      'Marion is new to development but has proven a kick-ass full-stack juggernaut. We couldn't do this without her!'
    </p>

    <p>
      <span class="emph">Dakoda Wogan - Application Developer @ Aplo 2015</span></br>
      'Marion is an excellent teacher. She paves easy to follow paths - allowing people to feel like she is always there for guidance if they get lost.'
    </p>
  </article>

</section>

