<%= erb(:_port_nav, :layout => true) %>

<main>

  <h1>shake-it-speare</h1>

  <section class="description">
    <h4>The concept</h4>
    <p>
      Consume the Shake-it-speare API, an afternoon lab at WDI.
    </p>
    <h4>Tech</h4>
    <p>
      * HTML</br>
      * CSS</br>
      * Shake-it-speare API
    </p>
  </section>

  <section class="shake-it">
    <button type="button" id="rewrite">What did Shakespeare say?</button>
    <div id="loading">
      <img src="http://i.giphy.com/yl0JCeVWTHM0E.giff"/>
    </div>
    <div id="loaded">
      <h1 class="sentence"></h1>
      <img src="http://i.giphy.com/okXsTqmNUNs52.gif">
    </div>
  </section>

</main>
