<%= erb(:_port_nav, :layout => true) %>

<main>

  <h1>this</h1>

  <section class="primary-image">
    <img src="http://i.imgur.com/zyJPs8C.jpg">
  </section>

  <section class="description">
    <h4>The concept</h4>
    <p>
      A personal portfolio site, a safe place to host little side projects, and a bit of digital personality roaming free on the inter-webs.
    </p>
    <h4>The result (v1.0)</h4>
    <p>
      What you see is what you get. #AmIRight</br>
      If you have any feedback regarding the UX/UI/content of this site, I'd really appreciate <a href="#contact">hearing from you</a>.
    </p>
    <h4><a href="https://github.com/rionner/portfolio" target="_blank">Project Repository</a></h4>
    <h4>Tech</h4>
    <p>
      * Ruby / Sinatra</br>
      * HTML5</br>
      * SASS / CSS</br>
      * Javascript / jQuery</br>
      * Flickr API / FlickRaw</br>
      * Google Code Prettify</br>
      * Heroku</br>
    </p>
  </section>

  <section class="gif">
    <img src="http://i.giphy.com/3o85xvAaEm8nPHWMco.gif">
  </section>

  <h1>catch you on the flip side</h1>

</main>
