/* BASE */
/* STYLE RULES */
/* Default styles - exclusively elements, descendants, children, and pseudo classes. */
/* Do not style classes or ids */

/* BROSWER RESETS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: $primary-color;
  background: $tertiary-color;
}
ol, ul {
  list-style: none;
}

li {
  margin: 0 10px;
  font-family: $caption-font, Helvetica, Arial, sans-serif;
  font-size: $bodycontent-size;
}

img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5 {
  margin-bottom: 10px;
}

a {
  h1, h2, h3, h4, h5 {
    margin-bottom: 0px;
  }
}

h1, h2, h3 {
  font-family: $heading-font, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h4, h5, h6 {
  font-family: $caption-font, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: $ridiculous-heading-size;
}

h2 {
  font-size: $super-heading-size;
}

h3 {
  font-size: $large-heading-size;
}

h4 {
  font-size: $heading-size;
}

h5 {
  font-size: $bodycontent-size;
  text-transform: uppercase;
}

h6 {
  font-size: $caption-size;
  text-transform: uppercase;
  color: $quaternary-color;
}

p, a, pre, input, select, option, button {
  font-family: $bodycontent-font, Helvetica, Arial, sans-serif;
  font-size: $bodycontent-size;
}

p {
  margin: 10px auto;
}

a {
  transition: color 200ms ease;
  text-decoration: none;
  font-weight: 700;
  color: $primary-color;

  &:hover {
    color: $quaternary-color;
  }
}

blockquote {
  margin: 10px;
  text-align: justify;
  font-family: $caption-font, Helvetica, Arial, sans-serif;
  font-size: $bodycontent-size;
}

figure {
  margin: 0;
}

/* RESPONSIVE CONSIDERATIONS */
/*@media screen and (min-width: $mobile-min) {}*/
/*@media screen and (min-width: $mobile-max) {}*/
/*@media screen and (min-width: $tablet-min) {}*/
/*@media screen and (min-width: $tablet-max) {}*/
/*@media screen and (min-width: $desktop-min) {}*/
/*@media screen and (min-width: $desktop-max) {}*/

