/* GENERAL STYLES */
/* STYLE RULES */
/* Elemental Styles */
html {
  height: 100%;
}

header, footer {
  width: 100%;
}

nav>li {
  text-align: center;
}

main {
  margin: 80px 5% 0;
}

section {
  margin: 30px auto;
}

/*article {}*/

button {
  transition: color 200ms ease,
              background-color 200ms ease;
  height: 45px;
  min-width: 45px;
  margin: 10px 0;
  background-color: $tertiary-color;
  border: 1px solid $quaternary-color;
  color: $quaternary-color;

  &:hover {
    background-color: $quaternary-color;
    color: $tertiary-color;
  }
}

footer {
  margin-top: 20px;
  align-items: center;
  text-align: center;
}


/* RESPONSIVE CONSIDERATIONS */
/*@media screen and (min-width: $mobile-min) {}*/
/*@media screen and (min-width: $mobile-max) {}*/
/*@media screen and (min-width: $tablet-min) {}*/
/*@media screen and (min-width: $tablet-max) {}*/
/*@media screen and (min-width: $desktop-min) {}*/
/*@media screen and (min-width: $desktop-max) {}*/
