/* GENERAL STYLES */
/* STYLE RULES */
/* Elemental Styles */
html {
  height: 100%;
}

header, footer {
  width: 100%;
  min-height: 120px;
}

header {
  margin-bottom: 20px;
}

nav {
  li {
    text-align: center;
  }
}

main {
  margin: 0 5%;
}

footer {
  margin-top: 20px;
}


