/* LAYOUT */
/* STYLE RULES */
/* Divide the page into sections & hold one or more modules together */
/* Naming conventions > Prefix layout mixins with 'layout-' - as in '.layout-navbar' */

/* Flex column styles */
.layout-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Flex grid styles */
.layout-flex-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.layout-flex-child-1col {
  width: 100%;
  padding: 5% auto;
}

.layout-flex-child-2col {
  width: 100%;
  padding: 10px 2%;
  @media screen and (min-width: $tablet-max) {
    width: 45%;
  }
}

.layout-flex-child-3col {
  width: 50%;
  padding: 10px 1%;
  @media screen and (min-width: $tablet-max) {
    width: 30%;
  }
}

.layout-flex-child-4col {
  width: 40%;
  padding: 10px 1%;
  @media screen and (min-width: $tablet-max) {
    width: 20%;
  }
}

.layout-align-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}


/* Nav alignment and secondary nav bar */
.layout-nav {
  @extend .layout-flex-parent;
  position: fixed;
  z-index: 1;
  align-items: baseline;

  a {
    margin: 0 10px;
  }
}

.layout-secondary-nav {
  position: fixed;
  z-index: 2;
  top: 47px;
  right: 0;

  a {
    line-height: 32px;
  }

  li {
    margin: 0;
  }
}


/* Keep footer at the bottom of the page */
.layout-page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.layout-content-wrap {
  flex: 1 0 auto;
}


/* RESPONSIVE CONSIDERATIONS */
/*@media screen and (min-width: $mobile-min) {}*/
/*@media screen and (min-width: $mobile-max) {}*/
/*@media screen and (min-width: $tablet-min) {}*/
/*@media screen and (min-width: $tablet-max) {}*/
/*@media screen and (min-width: $desktop-min) {}*/
/*@media screen and (min-width: $desktop-max) {}*/

