/* THEME */
/* STYLE RULES */
/* Describe how modules or layouts might look - not necessarily required. */

.nav {
  justify-content: flex-start;
  width: 100%;
  background-color: $tertiary-color;
  border-bottom: 1px solid $primary-color;
}

.nav-arrow {}

.port-nav-list {
  li {
    transition: all 200ms ease;
    padding: 0 10px;
    width: 100px;
    background-color: $tertiary-color;
    border: {
      left: 1px solid $primary-color;
      bottom: 1px solid $primary-color;
      }
    &:hover {
      padding: 5px 10px;
      border: {
        left: 1px solid $quaternary-color;
        bottom: 1px solid $quaternary-color;
      }
    }
  }
}

button {
  &.expand-nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    margin: 0;
    width: 121px;
    height: 47px;
    border-top: none;
  }

  figure {
    img {
      height: 45px;
    }
  }
}

.portie-item {
  margin: 10px 0;
  transition: border 400ms ease,
              color 400ms ease;
  border-bottom: 3px solid $tertiary-color;

  &:hover {
    border-bottom: 3px solid $quaternary-color;
  }
}

.right-align {
  text-align: right;
}

.res-item {
  margin: 0 30px;
  padding-bottom: 10px;

  h4 {
    margin: 5px 0;
  }

  p, ul {
    margin-left: 30px;
  }
}

.bullet-list {
  margin: 10px;
  list-style: circle;
}

pre.prettyprint {
  overflow: scroll;
}

/*.emphasized {}*/

/*.snippets {}*/

/*.gif {}*/

@keyframes opacity-animation {
  0% { opacity: 0; }
  10% { opacity: 0; }
  50% { opacity: .7; }
  90% { opacity: 0; }
  100% { opacity: 0; }
}

.background,
.home-background-1,
.home-background-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background {
  background-color: black;
  z-index: -3;
}

.home-background-1,
.home-background-2 {
  animation: opacity-animation 5s infinite;
  background: center no-repeat;
  background-size: cover;
}

.home-background-1 {
  z-index: -2;
}

.home-background-2 {
  animation-delay: 5s;
  z-index: -1;
}

.img-fill {
  position: relative;
  z-index: -1;
  background: center no-repeat;
  background-size: cover;
}

.img-fill-title {
  position: absolute;
  margin: 10px;
  color: $tertiary-color;
}

.focal-image {
  position: fixed;
  z-index: 2;
  width: 50%;
  height: 50%;
  margin: 0;
  background: center no-repeat;
  background-size: contain;
}

.gallery-item {
  width: 150px;
  height: 150px;
  background: center no-repeat;
  background-size: cover;
}

.shakeitspeare {
  #rewrite, #loading, #loaded {
    width: 300px;
  }
}

footer {
  line-height: 30px;
  background-color: $primary-color;
  color: $tertiary-color;

  a {
    color: $tertiary-color;
  }

  .icons {
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .mahalo {
    background-color: $quaternary-color;
    color: $primary-color;
  }
}

/* RESPONSIVE CONSIDERATIONS */
/*@media screen and (min-width: $mobile-min) {}*/
/*@media screen and (min-width: $mobile-max) {}*/
/*@media screen and (min-width: $tablet-min) {}*/
/*@media screen and (min-width: $tablet-max) {}*/
/*@media screen and (min-width: $desktop-min) {}*/
/*@media screen and (min-width: $desktop-max) {}*/

