/* THEME */
/* STYLE RULES */
/* Describe how modules or layouts might look - not necessarily required. */

.emphasized {}

.block-quote {}

.snippets {}

.prettyprint {}

.gif {}

.img-fill {
  position: relative;
  z-index: -1;
  background: center no-repeat;
  background-size: cover;
}

.img-fill-title {
  position: absolute;
}

.focal-image {
  width: 100%;
  z-index: -1;
  position: fixed;
  background: center no-repeat;
  background-size: contain;
}

.gallery {}

.gallery-item {
  width: 100px;
  height: 100px;
  margin: 5px;
  background: center no-repeat;
  background-size: cover;
}

.triangle-topright {
  width: 0;
  height: 0;
  float: right;
  border-top: 30px solid $tertiary-color;
  border-left: 30px solid transparent;
}

footer {
  line-height: 30px;
  background-color: $primary-color;
  color: $tertiary-color;

  a {
    color: $tertiary-color;
  }

  .icons {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .mahalo {
    background-color: $tertiary-color;
    color: $primary-color;
  }
}

/* RESPONSIVE CONSIDERATIONS */
@media screen and (min-width: $mobile-min) {}
@media screen and (min-width: $mobile-max) {}
@media screen and (min-width: $tablet-min) {}
@media screen and (min-width: $tablet-max) {}
@media screen and (min-width: $desktop-min) {}
@media screen and (min-width: $desktop-max) {}

