/* SASS VARIABLES */
$font-1: 'Righteous', sans-serif;
$font-2: 'Montserrat', sans-serif;
$font-3: 'Questrial', sans-serif;
$off-white: rgb(245, 245, 245);
$green: rgb(10, 230, 10);
$grey: rgb(150, 150, 150);
$purple: rgb(185, 35, 175);
$teal: rgb(0, 160, 160);
$red: rgb(245, 0, 0);
