/* CHILD VARIABLES */
/* TO USE IN SCSS */

/* FONTS */
$heading-font: $righteous-font;
$bodycontent-font: $montserrat-font;
$caption-font: $questrial-font;

/* FONT SIZES */
$ridiculous-heading-size: $size60;
$super-heading-size: $size46;
$large-heading-size: $size32;
$heading-size: $size24;
$bodycontent-size: $size16;
$caption-size: $size12;

/* COLORS */
$primary-color: $black;
$secondary-color: $grey;
$tertiary-color: $white;
$quaternary-color: $red;

/* BROWSER WIDTHS */
$mobile-min: $width3;
$mobile-max: $width5;
$tablet-min: $width7;
$tablet-max: $width9;
$desktop-min: $width11;
$desktop-max: $width13;



/* PARENT VARIABLES */
/* DO NOT USE IN SCSS */
/* USE AS CHILD VARIABLE ASSIGNMENT VALUES */

/* FONTS */
$righteous-font: 'Righteous', sans-serif;
$montserrat-font: 'Montserrat', sans-serif;
$questrial-font: 'Questrial', sans-serif;

/* FONT SIZES */
$size12: 12px;
$size16: 16px;
$size24: 24px;
$size32: 32px;
$size46: 46px;
$size60: 60px;

/* COLORS */
$white: rgb(255, 255, 255);
$off-white: rgb(240, 240, 240);
$grey: rgb(150, 150, 150);
$black: rgb(0, 0, 0);
$green: rgb(10, 230, 10);
$teal: rgb(0, 160, 160);
$red: rgb(245, 0, 0);
$purple: rgb(185, 35, 175);

/* BROWSER WIDTHS */
$width3: 300px;
$width5: 500px;
$width7: 700px;
$width9: 900px;
$width11: 1100px;
$width13: 1300px;
