/* SASS VARIABLES */
@import "variables";

/* MURRAY INSPO STYLES */

.fill {
  position: relative;
  z-index: -1;

  img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  span {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  h3, h4 {
    color: rgb(255, 255, 255);
  }

  h3 {
    font-size: 35px;
  }
}

.fill:last-child {
  padding: 0 0 200px;
}
