/* SASS VARIABLES */
@import "variables";

/* RESUME PAGE STYLES */
.resume {
  width: 100%;
  padding-bottom: 100px;

  h1 {
    width: 100%;
    font-size: 50px;
    color: $off-white;
  }

  .contact-info{
    width: 80%;
    margin: 0 auto;
    text-align: right;

    h1 {
      font-size: 25px;
      color: $grey;
    }

    h4 {
      font-size: 20px;
      color: $grey;
    }

    a {
      text-decoration: none;
      color: $green;
    }

    a:hover {
      color: $grey;
    }

    p {
      color: $off-white;
    }
  }

  .tech, .experience, .education {
    width: 80%;
    margin: 30px auto;

    h4 {
      font-size: 20px;
      color: $grey;
    }

    p {
      padding: 1% 5%;
      color: $grey;

      .emph{
        color: $green;
      }
    }
  }

}
