/* SASS VARIABLES */
@import "variables";

/* RESUME PAGE STYLES */
.resume {
  width: 100%;
  padding: 0 0 100px;

  h1 {
    width: 100%;
    font-size: 50px;
    color: $off-white;
  }

  .contact-info{
    width: 80%;
    margin: 0 auto;
    text-align: right;

    h1 {
      font-size: 25px;
      color: $grey;
    }

    h4 {
      font-size: 20px;
      color: $grey;
    }

    a {
      text-decoration: none;
      color: $green;
    }

    a:hover {
      color: $grey;
    }

    p {
      color: $off-white;
    }
  }

  .tech, .experience, .education, .recommendations {
    width: 80%;
    margin: 5% auto;

    h4 {
      font-size: 20px;
      color: $grey;
    }

    p {
      padding: 2% 5% 0;
      line-height: 1.3em;
      color: $grey;

      .emph {
        font-size: 1.1em;
        font-weight: bold;
        color: $green;
      }

      .date {
        float: right;
        font-weight: light;
      }
    }

    .rec {
      padding: 0 7%;
    }

    a {
      text-decoration: none;
      color: $green;
    }

    a:hover {
      color: $grey;
    }

    ul {
      padding: 0 12%;
      color: $grey;

      li {
        font-family: $font-3;
      }
    }
  }
}
