/* SASS VARIABLES */
@import "variables";

/* SHAKE-IT-SPEARE STYLES */
.shake-it {
  width: 70%;
  margin: 0 auto 150px;

  #loading, #loaded {
    display: block;
    width: 60%;
    margin: 0 auto;
    padding: 20px 0 0;

    img {
      display: block;
      margin: 0 auto;
    }

    .sentence {
      text-align: center;
      color: $red;
    }
  }

  #rewrite {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 15px;
    border: 0;
    color: $off-white;
    background-color: $red;
    font-family: $font-2;
    font-size: 20px;
  }

  #rewrite:hover {
    color: $red;
    background-color: $off-white;
  }
}
