/* BROWSER ADJUSTMENTS */
@media screen and (max-width: 900px) {
  .tech, .experience, .education, .recommendations {
    p {
      .date {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  footer {
    height: 150px;
    flex-direction: column;
    flex-wrap: wrap;

    .email-phone, .address {
      width: 75%;

      p {
        padding: 10px 0;
        font-size: 18px;
      }
    }

    .icons {
      width: 15%;

      i {
        margin: 9px;
      }
    }

    .thanks {
      width: 10%;
      padding: 65px 0 0 0;

      p {
        transform: rotate(270deg);
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .intro {
    .quote {
      h1 {
        font-size: 130px;
      }
    }
  }

  footer {
    .email-phone, .address {
      width: 70%;
    }
    .icons {
      width: 20%;
    }
  }
}

@media screen and (max-width: 540px) {
  .intro {
    .quote {
      h1 {
        font-size: 115px;
      }
    }
  }

  footer {
    flex-flow: column;
    flex-wrap: wrap;
    height: 200px;

    .email-phone, .address, .icons {
      width: 90%;

    }

    .thanks {
      padding: 110px 0 0 0;
    }
  }
}

@media screen and (max-width: 445px) {
  .nav-bar {
    .nav-list {
      .contact {
        display: none;
      }
    }
  }

  .intro {
    .quote {
      h1 {
        font-size: 50px;
      }
    }
  }
}



/* PHONES */

/* iPHONE 4 */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {

}

/* iPHONE 5 */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

}

/* iPHONE 6 */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

}

/* iPHONE 6+ */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {

}

/* GALAXY S3 */
/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {

}

/* GALAXY S4 */
/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {

}

/* HTC */
/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {

}


