/* SASS VARIABLES */
@import "variables";

/* MURRAY INSPO STYLES */

.fill {
  position: relative;
  z-index: -1;
  background: center no-repeat;
  background-size: cover;

  span {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  h3, h4 {
    color: rgb(255, 255, 255);
  }
}

.fill:last-child {
  padding: 0 0 200px;
}
