/* SASS VARIABLES */
@import "variables";

/* PHOTOGRAPHY STYLES */
.gallery {
  width: 40%;
  margin: 0 0 0 5%;
  float: left;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .photo {
    width: 100px;
    height: 100px;
    margin: 5px;
    background: center no-repeat;
    background-size: cover;
  }
}

.photo-box {
  width: 45%;
  z-index: -1;
  position: fixed;
  left: 50%;
  top: 73px;
  bottom: 100px;
  border-left: solid 1px $grey;
  border-right: solid 1px $grey;
  background: center no-repeat;
  background-size: contain;
}
