/* SASS VARIABLES */
@import "variables";

/* RESUME PAGE STYLES */
.resume {
  padding: 0 0 100px;

  h1 {
    font-size: 50px;
    color: $off-white;
  }

  .contact-info{
    margin: 0 auto;
    text-align: right;

    h1 {
      color: $grey;
    }

    h4 {
      color: $grey;
    }

    a {
      color: $green;
    }

    a:hover {
      color: $grey;
    }

    p {
      color: $off-white;
    }
  }

  .tech, .experience, .education, .recommendations {
    h4 {
      color: $grey;
    }

    p {
      padding: 2% 5% 0;
      line-height: 1.3em;
      color: $grey;

      .emph {
        color: $green;
      }

      .date {
        float: right;
        font-weight: light;
      }
    }

    .rec {
      padding: 0 7%;
    }

    a {
      color: $green;
    }

    a:hover {
      color: $grey;
    }

    ul {
      padding: 0 12%;
      color: $grey;
    }
  }
}
